@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html{
        font-family: "Roboto","Arial","sans-serif";
    }

    body{
        background-color: #fdfeff;
        overflow-x: hidden;
        overflow-y: auto;
    }

    /* class to hide something */
    .hideComponent{
        display: none;
    }

    /* class to show something back */
    .showComponent{
        display: block;
    }

    /* ----------------- Videos Section---------------------- */
        /* -------- Buttons Slider ----------- */
            .slider-width{
                transition: 0.4s ease-in-out;
            }
            .slider-item{
                height: 40px;
            }

            .slider-button{
            
                border-radius: 10px;
                padding: 8px 15px;
                height: 40px;
                margin-top: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
                width: 100%;
                will-change: transform;
                font-size:medium;
                background: #d5d3d495;
            }

            .slider-button:hover{
                background: black;
                color: white;
                box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
                transform: translateY(-2px);
                cursor: pointer;
            }
            .slider-button:active,.slider-button:active::after{
                background: black;
                color: white;
                box-shadow: none;
                transform: translateY(0);
            }
            .slider-button:checked{
                background: black;
                color: white;
                box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
                transform: translateY(-2px);
            }

            .slider-item input[type="radio"] {
                opacity: 0;
                position: fixed;
                width: 0;
            }


            
            
            .btnWrapper button .bx{
                background-color: rgba(62, 62, 62, 0.351);
                color: white;
                font-size: large;
                border-radius: 50%;
                padding: 3px;
            }

            .btnWrapper button .bx:hover, .btnWrapper button .bx:active{
                background-color: rgba(44, 44, 44, 0.712);
                color: white;
                
            }

        /* Video Section */
            /* .VideoCard:hover, .VideoCard:active{
                
            } */
            .Card_wrapper{
                width: 100%;
                overflow-x: hidden;
                margin-bottom: 25px;
            }
            
            .Card_wrapper .videoThumbnail{
                width: 100%;
            }

            .Card_wrapper .videoThumbnail img{
                width: 100%;
                height: auto;
            }

            .Card_wrapper .videoSecondPart{
                display: flex;
                padding: 8px;
                padding-bottom: 0px;
                justify-content: space-between;
                align-items: start;
                width: 100%;
            }

            .Card_wrapper .videoSecondPart img{
                border-radius: 50%;
                width: 15%;
            }

            .Card_wrapper .videoSecondPart .videoDetails{
                width: 80%;
            }

            .Card_wrapper .videoSecondPart .videoDetails h3{
                font-size:0.9rem;
                font-weight: 500;
            }

            .Card_wrapper .videoSecondPart .videoDetails .smallDetails{
                display: flex;
                font-size: small;
                gap: 3px;
                color: #5a5858;
                font-weight: 500;
            }

            
            
            
          

}

@layer components{   
    /*-------- Navigation SideBar Styling ----------*/
    .side-menu li{
        @apply rounded-md active:after:bg-[#eaeaea89] hover:bg-[#ededed]
    }

    .side-menu li a{
        @apply flex items-center justify-around p-1
    }

    .side-menu li .bx{
        @apply text-[7vw]
    }

    .side-menu li .text{
        @apply text-[3.5vw] font-medium
    }

    /*-------- Navigation SideBar Styling ----------*/
    /* ---------------Search Form---------------- */
    .SearchInApp .bx,.showSeachForm .bx, .showMenu .bx{
        @apply text-2xl
    }
    /* ---------------Search Form---------------- */

    
}